p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lab(4.8% -1.87 5.1);

    margin: 0;
    padding: 0;
  }
